body {
	margin-left: 10%;
	margin-right: 10%
}

ul li a{
	background-color: red;
	color: white;
	text-decoration: none;
}

.thrips_content{
	height: 500px;
}
sub_thrips_content { float:right;
}

.mastitis_content{
	display: inline-block;
}

.mastitis_detail{
	float: right;
	margin-right: 15%;
}

